.details{
    max-width: 855px;
    margin: 40px auto;
    p{
        padding-bottom: 30px;
        font-size: 28px;
        
    }
    .cs_border{
        border-bottom: 1px solid $green;

    }
   
}
.input_comment{
    height: 170px;
}