.cs_header_right {
    ul {
        list-style: none;
        display: flex;

        li:not(:first-child) {
            padding-left: 60px;

        }

        a {
            font-size: 21px;
            color: white;
            font-weight: semi-bold;
            text-transform: uppercase;
            &:hover{
                color: #d7d0d0;
            }
        }

    }
}


.cs_hero_right {
    z-index: 3;

    img {
        position: relative;
        z-index: 2;
    }

    .cs_hero_image_border {
        right: 130px;
        top: 100px;
        z-index: 1;
    }

}

.cs_moving_wrap {
    height: 150px;
}

.cs_moving_text {
    font-size: 110px;
    color: #242424;
    animation: slide-left 20s linear infinite;
    
// @media (min-width: 767px) {
//     margin-bottom: -200px;
// }
}

@keyframes slide-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.cs_hero_vector {
    top: 0px;
    left: -60px;
}

.cs_social_btns {
    top: 200px;
    right: -50px;
    background-color: transparent;

    a {
        width: 50px;
        height: 50px;
        background-color: #242424;
        color: white;
        margin-bottom: 40px;
        border-radius: 15px;

        i {
            background-color: transparent;
        }
    }

 

}

@media (max-width: 991px) {
    .cs_hero {
        .cs_hero_right {
            padding-top: 100px;
img{
    // left: -40px;
    right: 20px;
}
            .cs_hero_image_border {
                left: -50px;
            }
        }
       
    }
    .cs_social_btns{
       top: 800px;
       right: 20px;
       
    }
    .cs_moving_text{
        margin-bottom: -200px;
    }
}