.image_name{
   .cs_portfolio_btn{
        bottom: 30px;
        width: 80%;
        background-color: white;
        color: black;
        display: flex;
        justify-content: space-between;
        padding: 30px 28px;
        opacity: 0;
        transition: all .4s ease;
        border: none;

        i{
            background-color: transparent;
        }
       
    }
    .portfolio_img{
        border-radius: 15px;
        width: 100%;
    }
    &:hover{
        .cs_portfolio_btn{
            opacity: 1;
        }
    }
}
@media (max-width: 991px){
    .cs_portfolio{
        padding-bottom: 100px;
    }
    .cs_portfolio_btn{
    //    left: 0;
    display: flex;
    justify-content: end;
    }
}