@import './common/color_variable';

@for $i from 10 through 90 {
    .cs_fs_#{$i}{
        font-size: $i + px ;
    }
};
@for $i from 10 through 100 {
    .cs_ml_#{$i}{
       margin-left: $i + px ;
    }
}
@for $i from 10 through 225 {
    .cs_pt_#{$i}{
        padding-top: $i + px ;
    }
}
@for $i from 10 through 225 {
    .cs_pb_#{$i}{
        padding-bottom: $i + px ;
    }
}

@for $i from 10 through 100{
    .cs_pl_#{$i}{
        padding-left: $i + px;
    }
    .cs_pr_#{$i}{
        padding-right: $i + px;
    }
}
@for $i from 5 through 15 {
    .cs_br_#{$i}{
        border-radius: $i + px ;
    }
}
.cs_column_gap_35{
    column-gap: 35px;
}
.cs_row_gap_35{
    row-gap: 35;
}
.cs_row_gap_100{
    grid-row-gap: 90px;
}
a{
    text-decoration: none;
    color: white;
}
p{
    color: #CDCBD1;
}
.text_green{
    color: $green;
}